:root.theme-light {
  --page-bg: #FFF1F7;
  --page-image: url(../images/cover-image-light.png);
  --header-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --header-description-color: #353430;
  --theme-switch-color: #353430;
  --theme-switch-hover: #32312D66;
  --section-title-color: #353430;
  --text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg: #FFF1F7;
    --page-image: url(../images/cover-image-light.png);
    --header-title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --header-description-color: #353430;
    --theme-switch-color: #353430;
    --theme-switch-hover: #32312D66;
    --section-title-color: #353430;
    --text-color: #353430;
  }

  .theme-auto .header__record {
    display: none;
  }

  .theme-auto .decorated-zone::before {
    display: none;
  }
  
  .theme-auto .decorated-zone::after {
    display: none;
  }

  .theme-light .header__record {
    display: none;
  }

  .theme-light .decorated-zone::before {
    display: none;
  }
  
  .theme-light .decorated-zone::after {
    display: none;
  }
}
