/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  gap: 40px;
  background-color: var(--page-bg);
  background-position: center center;
  background-size: cover;
  background-image: var(--page-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  inline-size: 100%;
  block-size: 100vh;
  padding: var(--page-padding);
  min-block-size: 668px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
  top: var(--page-padding);
  right: var(--page-padding);
}

.decorated-zone::after {
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
  bottom: var(--page-padding);
  left: var(--page-padding);
}

.header__record {
  display: flex;
  gap: 10px;
  position: absolute;
  top: var(--page-padding);
  right: calc(9px + var(--page-padding));
  color: var(--accent-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.header__record::before {
  content: "REC";
}

.header__record::after {
  content: "";
  align-self: center;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-button {
  padding: 2px 13px 4px;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--theme-switch-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--theme-switch-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--theme-switch-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-switch-color);
}

.header__theme-menu-list {
  list-style-type: none;
  display: grid;
  gap: 10px;
}

.header__title {
  justify-self: start;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-title-color);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  line-height: 95.7px;
  text-transform: lowercase;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--header-description-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.card-container {
  padding: 0 var(--page-padding);
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
  font-family: "IBM Plex Mono", sans-serif;
}

.section.pictures {
  gap: 10px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section__card-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}

.section__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section__card {
  display: grid;
  gap: 10px;
}

.advice .section__card-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.section__card-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.section__card-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.section__card-link:hover {
  border-block-end: 1px solid var(--text-color);
  font-family: IBM Plex Mono;
}

.section__card-link:focus {
  outline: none;
}

.section__card-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery__container {
  display: grid;
  grid-template-columns: 1;
  grid-auto-flow: dense;
  gap: 10px;
}

.gallery__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  inline-size: 100%;
  block-size: 100vh;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
  }

  .page {
    gap: 60px;
  }

  .header {
    min-block-size: 1024px;
  }

  .title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title-decor {
    max-width: 50%;
  }

  .card-container {
    gap: 80px;
  }

  .section.info {
    grid-template-columns: 1fr 2fr;
  }

  .section.question {
    grid-template-columns: repeat(3, 1fr);
  }

  .question .section__title {
    grid-column: 1 / 2;
  }

  .question .section__card-container {
    grid-column: 1 / 4;
    padding: 0;
    gap: 20px;
  }

  .section.advice {
    grid-template-columns: 1fr 2fr;
  }

  .section.pictures {
    gap: 20px;
  }

  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .section {
    gap: 10px;
  }

  .section.question {
    gap: 20px;
  }

  .question .section__title {
    grid-column: 1 / 2;
  }

  .question .section__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 4;
    padding: 0;
    gap: 20px;
  }

  .question .section__card {
    grid-template-rows: min-content;
  }
}
